<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110181319375-fftlkaes8flds7ubpq8ujd757f9m8k9c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110181319375-fftlkaes8flds7ubpq8ujd757f9m8k9c</string>
	<key>API_KEY</key>
	<string>AIzaSyCQdxp8UjiLgYU_2ts_SZKEY9abYecdzMY</string>
	<key>GCM_SENDER_ID</key>
	<string>110181319375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>saraeltlt.ShopifyTeam4</string>
	<key>PROJECT_ID</key>
	<string>shopify-5fce2</string>
	<key>STORAGE_BUCKET</key>
	<string>shopify-5fce2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110181319375:ios:c0a60fbdfc5a5938f52dba</string>
</dict>
</plist>